Source: ros-foxy-dolly-gazebo
Section: misc
Priority: optional
Maintainer: Louise Poubel <burajiru.no.chapulina@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-foxy-ament-cmake, ros-foxy-ament-lint-auto, ros-foxy-ament-lint-common, ros-foxy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-foxy-dolly-gazebo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-foxy-dolly-follow, ros-foxy-gazebo-ros-pkgs, ros-foxy-ros2launch, ros-foxy-rviz2, ros-foxy-ros-workspace
Description: Launch Gazebo simulation with Dolly robot.
